* {
    box-sizing: border-box;
    text-align: center;
}

body {
    font-size: 18px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.gray-box {
    position: relative;
    width: 960px;
    background:#777;
    height:495px;

}
header {
    padding: 20px;
    margin: 20px;
    color: #777;
    background: #ebebeb;
    position: relative;
    top: 12px;
    left: 70px;
    width: 76%;
    height: 58px;
}

nav {
    color: #777;
    background: #ebebeb;
    margin: 13px;
    padding: 17px;
    position: relative;
    top: 10px;
    left: 74px;
    width: 76%;
}

section{
    color: #777;
    background: #ebebeb;
    height: 40%;
    width: 42%;
    position: relative;
    left: 87px;
    top: 28px;
}

aside {
    color: #777;
    background: #ebebeb;
    float: right;
    height: 45%;
    width: 31%;
    position: relative;
    right: 157px;
    top: 18px;
}

article{
    color: #ebebeb;
    background: #777;
    width: 50%;
    height: 70%;


}

#heads{
    color: #777;
    background: #ebebeb;
    margin: 8px;
    position: relative;
    right: 10px;
}

#paragrah{
    color: #777;
    background: #ebebeb;
    margin: 8px;
    position: relative;
    right: 10px;
} 

footer {
    padding: 20px;
    margin: 20px;
    color: #777;
    background: #ebebeb;
    clear: both;
}