* {
    box-sizing: border-box;
    text-align: center;
}

body {font-size: 17px
}

.gray-box {
    position: relative;
    height: 400px;
    background:#525252;

}
header {
    padding: 20px;
    margin: 20px;
    color: #666;
    background: #e0e0e0;
    position: relative;
    top: 10px;
}

nav {
    color: #666;
    background: #e0e0e0;
    margin: 13px;
    padding: 10px;
    position: relative;
}

section{
    color: #666;
    background: #ccc;
    height: 40%;
    width: 48%;
    position: relative;
    left: 10px
    

}

aside {
    color: #666;
    background: #ccc;
    float: right;
    height: 40%;
    width: 48%;
    position: relative;
    right: 10px
}

article{
    color: #ccc;
    background: #525252;
    width: 40%;

}

#heads{
    color: #666;
    background: #ccc;
    margin: 8px;
    position: relative;
    right: 10px;
}

#paragrah{
    color: #666;
    background: #ccc;
    margin: 8px;
    position: relative;
    right: 10px;
} 

footer {
    padding: 20px;
    margin: 20px;
    color: #666;
    background: #ccc;
    clear: both;
}