* {
    box-sizing: border-box;
    text-align: center;
}

body {
    font-size: 18px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.gray-box {
    position: relative;
    width: 960px;
    background:#777;
    height:495px;

}
header {
    padding: 20px;
    margin: 20px;
    color: #777;
    background: #ebebeb;
    position: relative;
    top: 8px;
    left: 70px;
    width: 76%;
    height: 58px;
}

nav {
    color: #777;
    background: #ebebeb;
    margin: 13px;
    padding: 17px;
    position: relative;
    top: -3px;
    left: 77px;
    width: 76%;
}

section{
    color: #777;
    background: #ebebeb;
    height: 41%;
    width: 42%;
    position: relative;
    left: 89px;
}

aside {
    color: #777;
    background: #ebebeb;
    float: right;
    height: 41%;
    width: 32%;
    position: relative;
    right: 141px;
}

article{
    color: #ebebeb;
    background: #777;
    width: 93%;
    height: 64%;
    position: relative;
    left: 12px;
    top: 36px;


}

#heads{
    color: #777;
    background: #ebebeb;
    margin: 8px;
    position: relative;
    top: 6px;
    width:337px;
    left: 14px;
    height:36px;
}

#paragrah{
    color: #777;
    background: #ebebeb;
    margin: 8px;
    position: relative;
    left: 14px;
    height: 37px;
    width: 337px;
    top: 8px;
} 

footer {
    padding: 20px;
    margin: 20px;
    color: #777;
    background: #ebebeb;
    clear: both;
    position: relative;
    left: 70px;
    top:-3px;
    width: 76%;
}